
body{
    margin: 0;
}

.banner{
    width: 100%;
    margin-bottom: 50px;
}

.banner-img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.texto-banner {
    margin: 0 auto;
    text-align: center;
    padding: 15%;
    color: #000000;
    z-index: 9999;
    font-size: 2rem;
}

.titulo-produto{
    text-align: center;
    margin-bottom: 15px;
}

.ver-mais-produto{
    text-align: center;
    margin-top: 10px;
}

.produtos-index {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10%;
    padding-top:0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.cards-index{
    width: 100%;
    padding: 5%;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.card-index{
    float: left;
    margin: 5px;
    margin-bottom: 0;
}

.btn-card{
    background: #2d426b;
    color: white;
}

.btn-card:hover{
    background: #ffeb77;
}

.span-color{
    background: #2d426b;
    color: white;
}

.color-mouse:hover{
    background: #ffeb77;
    color: #000000c9;
}

.videoG{
    width: 100%;
    padding: 10%;
    text-align: center;
}

.texto-Video {
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video {
    overflow:hidden;padding-bottom:56.25%;position:relative;height:0;margin:30px}

.video iframe{left:0;top:0;height:100%;width:100%;position:absolute;}


@media (max-width: 720px) {
    .texto-banner{font-size: 1.5rem;}
    .botaoBanner{font-size: 0.9rem;}
    .texto-Video{font-size: 1rem;}
}

@media (max-width: 450px) {
    .texto-banner{font-size: 1.2rem;}
    .botaoBanner{font-size: 0.7rem;}
    .cards-index{padding: 1%;}
    .card-index {float: none; overflow-wrap: break-word;}
    .produtos-index{
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
        padding:10%;
        padding-top:0;
        overflow: hidden;
        display:block;
        flex-direction: none;
        justify-content: none;
        align-items: none;
    }
    .texto-Video {font-size: 1rem;}
}
.caixa-comentario{
    width: 30%;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ffeb77;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px#2d426b;
    border: none;
    font-family: 'Arial';
    font-size: 1.2rem;
}

.bComentario{
    width: 15%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#2d426b;
    color: white;
    border: 1px;
    font-size: 1rem;
}

.comentario-titulo{
    background-color: #2d426b;
    color: white;
    border: none;
}

.comentario-cliente{
    margin-bottom: 10px;
}

